.header {
  position: fixed;
  background-color: brown;
  width: 100%;
  z-index: 100;
}

.dictionary {
  width: 100vw;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10;
}
