:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

input {
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 1px solid black;
}

input:focus,
input:focus-visible {
  outline: none;
}

button {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  cursor: pointer;
}
